/* Inicializando variables */
:root{
  --colorClaro3   : hsl(219, 35%,90%);
  --colorClaro2   : hsl(219, 41%,81%);
  --colorClaro1   : hsl(219, 44%,71%);
  --colorPrincipal: hsl(219, 46%,60%);
  --colorOscuro1  : hsl(219, 32%,46%);
  --colorOscuro2  : hsl(219, 35%,34%);
  --colorOscuro3   : hsl(219, 42%,24%);

  --colorGris1    : hsl(219, 5%,95%);
  --colorGris1-50 : hsl(219, 5%,95%,0.5);
  --colorGris2    : hsl(219, 10%,65%);
  --colorGris2-50 : hsl(219, 10%,65%, 0.5);
  --colorGris3    : hsl(219, 15%,41%);
  --colorGris3-50 : hsl(219, 15%,41%,0.5);
  --colorGris4    : hsl(219, 20%,22%);
  --colorGris5    : hsl(219, 30%,10%);
  --colorGris5-80 : hsl(219, 30%,10%, 0.8);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Reinicio los estilos de html para que sea más conodo manejar la medida rem*/
html{ 
  font-size: 62.5%;
  background-color: var(--colorGris1);
}
h1,h2,h3{
  font-family: 'Poppins', sans-serif;
  color: var(--colorGris5);
}
h1{
  font-size: 3.6rem;
}

h2{
  font-size: 3.2rem;
}

h3{
  font-size: 2.8rem;
}
li{
  font-size: 2rem;
}

p, a{
  line-height: 28px;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  color: var(--colorGris4);
}
a{
  color: var(--colorGris2);
}

/* Clases */
/* <---------- Navbar ----------> */
.navbar{
  padding: 0 20px;
  width: 100%;
  background-color: var(--colorGris5-80);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 5;
  z-index: 1;
}
.navbar__logo{
  padding: 10px;
}
.navbar__logo img{
  width: 100px;
}
.navbar__items {
  height: 80px;
  display: flex;
  align-items: center;
}
.navbar__items ul {
  display: flex;
  list-style: none;
}
.navbar__items ul li {
  padding: 10px ;
}
.navbar__items ul li a{
  display: block;
  text-decoration: none;
}

a:hover, a.active{
  color: var(--colorGris1);
}



/* <---------- main ----------> */

.container{
  padding: 30px;
  text-align: center;
  
}

/* <----- Inicio ----->*/

.inicio{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inicio__background{
  background-image: url('../assets/img/fondoPortafolio.png');
  background-attachment: fixed;
  background-size: cover ;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.inicio__imgPersonal{
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  border-width: 10px;
  margin: 30px;
}
.inicio__description .saludo{
  font-size: 3.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: var(--colorGris1);
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 5px;
  display: block;
}
.inicio__description .especialidad{
  font-size: 3.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 5px;
  display: block;
  color: var(--colorPrincipal)
}

