/* Inicializando variables */
:root{
  --colorClaro3   : hsl(219, 35%,90%);
  --colorClaro2   : hsl(219, 41%,81%);
  --colorClaro1   : hsl(219, 44%,71%);
  --colorPrincipal: hsl(219, 46%,60%);
  --colorOscuro1  : hsl(219, 32%,46%);
  --colorOscuro2  : hsl(219, 35%,34%);
  --colorOscuro3   : hsl(219, 42%,24%);

  --colorGris1    : hsl(219, 5%,95%);
  --colorGris1-50 : hsl(219, 5%,95%,0.5);
  --colorGris2    : hsl(219, 10%,65%);
  --colorGris2-50 : hsl(219, 10%,65%, 0.5);
  --colorGris3    : hsl(219, 15%,41%);
  --colorGris3-50 : hsl(219, 15%,41%,0.5);
  --colorGris4    : hsl(219, 20%,22%);
  --colorGris5    : hsl(219, 30%,10%);
  --colorGris5-80 : hsl(219, 30%,10%, 0.8);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Reinicio los estilos de html para que sea más conodo manejar la medida rem*/
html{ 
  font-size: 62.5%;
  background-color: var(--colorGris1);
  scroll-behavior: smooth;
}
h1,h2,h3{
  font-family: 'Poppins', sans-serif;
  color: var(--colorGris5);
}
h1{
  font-size: 3.6rem;
}

h2{
  font-size: 3.2rem;
}

h3{
  font-size: 2.8rem;
}
li{
  font-size: 2rem;
}

p, a{
  line-height: 28px;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  color: var(--colorGris3);
}
a{
  color: var(--colorGris2);
}

/* Clases */
/* <---------- Navbar ----------> */
.navbar{
  padding: 0 20px;
  width: 100%;
  background-color: var(--colorGris5);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 5;
  z-index: 1;
}
.navbar__logo{
  padding: 10px;
}
.navbar__logo img{
  width: 100px;
}
.navbar__items {
  height: 80px;
  display: flex;
  align-items: center;
}
.navbar__items ul {
  display: flex;
  list-style: none;
}
.navbar__items ul li {
  /* margin : 10px; */
  width: 140px;
}
.navbar__items ul li a{
  padding: 10px 0px ;
  display: block;
  text-decoration: none;
  text-align: center;
}

a:hover, a.active{
  color: var(--colorGris1);
  /* background-color: var(--colorClaro2); */
  /* transform: scale(1.15); */
}

.indicadorSuperior{
  width: 150px;
  height: 10px;
  background-color: var(--colorPrincipal);
  position: absolute;
  top: 0;
}
.indicadorInferior{
  width: 140px;
  height: 10px;
  background-color: var(--colorPrincipal);
  position: absolute;
  bottom: 0;
  transition: .3s ease-out all;
}



/* <---------- main ----------> */

.container{
  margin: 20px 0px;
  padding: 50px 30px;
  text-align: center;
  
}

/* <----- Inicio ----->*/

.inicio{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inicio__background{
  background-image: url('../assets/img/fondoPortafolio.png');
  background-attachment: fixed;
  background-size: cover ;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.inicio__imgPersonal{
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  border-width: 10px;
  margin: 30px;
}
.inicio__description .saludo{
  font-size: 3.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: var(--colorGris1);
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 5px;
  display: block;
}
.inicio__description .especialidad{
  font-size: 3.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 5px;
  display: block;
  color: var(--colorPrincipal)
}

/* <----- acerca de mi ----->*/

.acercaDeMi__description{
  margin: 0 20%;
  padding: 20px ;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 2px var(--colorGris3);
}

/* <----- tecnologias ----->*/

.tecnologias__cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px ;
} 

.card{
  margin: 30px;
  width: 200px;
  border-radius: 10px;
  transition: all 400ms;
}
.card:hover{
  box-shadow: 5px 5px 10px var(--colorGris3);
  transform: scale(1.15);
}
.card__img{
  padding: 2px;
  border-radius:10px 10px 0 0;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card__name{
  padding: 10px;
  text-align: center;
}

/* <---------- Proyectos --------> */